# permissions for end users to edit vnets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vnet-editor-role
rules:
- apiGroups:
  - k8s.netris.ai
  resources:
  - vnets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.netris.ai
  resources:
  - vnets/status
  verbs:
  - get
